#header {
    color: lightgray;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


#window-bar {
    padding: 30px 0 0 0;
    box-sizing: border-box;
    border-radius: 20px;
}

#terminal {
    margin: 0 auto;
    width: 50rem;
    height: 38rem;
    background-color: black;
    border-radius: 5px;
}

#terminal-content {
    font-family: 'Montserrat', sans-serif;
}

p {
    color: azure;
}

#terminal-content b {
    color: #9CAEA9;
}

.home {
    color: darksalmon;
}

#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}
